# URL del backend. En emulador Android: http://10.0.2.2:3000
# En dispositivo físico: http://TU_IP_PC:3000
EXPO_PUBLIC_API_URL=http://localhost:3000

# Mismo Client ID (Web) que en el backend (Google Cloud Console)
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=603524090662-mf4t4ip34uevjdvb834a4q2fds2k5tbk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
